
body {
    font-size: 3vh;
}
table{
    border-collapse: collapse; 
    width: 100%; 
    height: 140.797px; 
    border: 1px solid rgb(0, 0, 0);
    margin-top: 24px;
    margin-bottom: 24px;
}

td {
    text-align: center; 
    border-color: rgb(0, 0, 0);
    width: 25px;
    padding: 5px;
    font-size: 4vh;

}
.td_h {
    /* width: 125px; */
}
.cell {
    line-height: 1.5;
    border: none;
    height: 100%;
    text-align: center;
    font-size: 4vh;
    width: 100%;
}

.submit_block{
    margin: 24px;
}
img, iframe{
    margin: 24px;
}

.txt_inp, .txt_ar{
    /* background: #eee;  */
    height: 24px; 
    width: 40vh; 
    margin-left: 20px ;
    font-size: 3vh;
}

.txt_ar {
    height: 30vh; 
    width: 90%;
    margin-top: 24px;
    margin-bottom: 24px;
}
button{
    font-size: 3vh;
    border-radius: 0.5vh;
    background-color: green;
    color: aliceblue;
    height: 6vh;
    width: 24vh;
    border: none;
    transition: box-shadow 0.3s, transform 0.3s;
}

button:active {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

button:focus {
    outline: none; /* Відключаємо обводку при фокусі (для відключення некоректного відображення у певних браузерах) */
}

button:hover{
    background-color: rgb(35, 134, 35);
    
}

.virt_lab{
    width: 800px;
    height: 600px;
}

.symb{
    font-size: 4vh;
    font-style:italic;
}

.student{
    display: flex;
    align-items: center;
}

.img_1 img {
    width: 90%;
    
}