/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */
body{

  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
canvas {

    border: 1px solid black;
}
.fon{
    width: 600px;
    position: absolute;
    left: 8px;
    top: 72px;
}
.metr{
    width: 47px;
    /* width: 450px; */
    position: absolute;
    left: 550px;
    top: 16px;
    cursor: pointer;
}
.pk{
    border: solid 1px;
    border-radius: 5px;
    background: rgb(154, 196, 87);
    padding: 15px;
    width: 420px;
    height: 180px;
    margin: 5px;
    position: absolute;
    left: 12px;
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    color: rgb(90, 35, 35);    
    font-weight: 500;
 
    
}
.mas_select{
  display: flex;
  justify-content: flex-tart;
  gap: 24px;
  
}

.rol{
    position: absolute;
    left: 510px;
    top: 72px;
    width: 20px;
    height: 20px;

}


.timer{
  display: none;
  font-size: 20px;
}

select {
  padding: 5px;
  border-radius: 5px;
  min-width: 90px;
  font-size: 18px;
  height: 36px;
  border: none;
  font-weight: 300;
  margin-top: 5px;
  
}

button {
  padding: 5px;
  border-radius: 5px;
  min-width: 90px;
  font-size: 18px;
  height: 36px;
  border: none;
  font-weight: 300;
  margin-top: 5px;
  background-color: #d189c5;
}

button {
  background-color: #bbf0a1;
  padding: 7px;
  color: rgb(59, 50, 50);
}

#reset {
    /* background: rgb(180, 268, 173); */
} 

button:hover{
  box-shadow: 2px 2px 2px gray;
  background-color: #c7e2ba;;  
}
select:hover{
  box-shadow: 2px 2px 2px gray;
  /* background-color: rgb(100, 208, 103);   */
}

button:active {  
  transform: translate(2px, 2px);
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-img {
    /* Встановлюємо анімацію 'rotate' з тривалістю 2 секунди та безкінечним повторенням */
    animation: rotate 2s infinite linear;
  }

  .pk_list{
    margin-top: 12px;
  }

  /* #started, #reset {
    width: 120px;
    height: 32px;
  } */

  .btn_block{
    text-align: right;
  }

 